{% extends "encyclopedia/layout.html" %}

{% block title %}
 encyclopedia/{{ title }}
{% endblock %}
   
{% block body %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'edit' title=title %}" class="btn btn-primary">edit</a>
        <button class="btn btn-primary" onclick="myFunction('{{ title }}')">delete</button>
    </div>
    <h1>{{ title }}</h1>
    <br>
    <div markdown="1" >{{ detals|safe }}</div>

<script>
function myFunction(x) {
    alert('are you sure to delete ');
    window.location = 'delete/' + x;
    }
</script>
{% endblock %}