{% extends "auctions/layout.html" %}

{% block body %}
        <table class="table border border-primary " style="margin-left:25%;width:700px;text-align:center;"> 
            <thead>
                <tr>
                    <td colspan="2"><h2>{{active.title}}</h2> 
                    {% if user.is_authenticated %}
                        <form action="{% url 'add_watchlist' %}" method="post">
                            {% csrf_token %}
                                {% if check %}
                                    <button type="submit" class="btn btn-outline-primary" name="active_id" value="{{ active.id }}">remove from watchlist</button>       
                                
                                    {% else %}
                                    <button type="submit" class="btn btn-outline-primary" name="active_id" value="{{ active.id }}">add to watchlist</button>
                            
                                    {% endif %}
                        </form>
                    {% endif %}
                    {% if user == active.add_user %}
                        <form action="{% url 'cancel'%}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary" name="cancel" value="{{active.id}}">cancel active</button>
                        </form>
                        <form action="{% url 'close'%}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary" name="close" value="{{active.id}}">close active</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3"><img style="max-width:300px;max-height: 200px;" src="{{active.image}}"></td>
                    <td> base price:{{active.base_price}} $ usd</td>
                </tr>

                <tr>
                    <td> category: {{active.category}}</td>
                </tr>
                
                <tr>
                    <td rowspan="2"> {{active.description}} </td>
                </tr>

                <tr>
                    <td>porpose price:{{bids.price}}$ usd</td>
                </tr>
                
                
                <tr>
                    <td rowspan="2"><h2>comments</h2></td>
                </tr>
                
                {% if user.is_authenticated %}
                <tr>
                    <td colspan="2">
                        porpose new price:<form action="{% url 'bids' active.id %}" method="post">
                            {% csrf_token %}
                            <input type="number" min="{{ bids.price}}" name="porpose">
                            <input type="submit" value="porpose" class="btn btn-outline-primary">
                        </form> 
                        
                    </td>
                </tr>
                <tr>
                    <td rowspan="2"> 
                        <form action="{% url 'add_comment' active.id%}" method="post">
                                {% csrf_token %}
                                <input type="text" name="comment" placeholder="write a comment" autocomplete="off">
                                <input type="submit" value="comment">
                            </form>  
                        </td>
                    </tr>
                    {% for comment in comments %}

                        <tr>
                            <td class="user"> {{ comment.user.username }}:</td>
                            <td>{{comment.comment}} </td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td rowspan="2"> no comment </td>
                        </tr> 
                    {% endfor %}

                {% endif %}


            </tbody>
        </table>

{% endblock %}