{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ massage }}</h1>
    <h2>add active</h2>


    <form action="{% url 'add_active' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ user.id }}" name="userid">
        {% for field in forms %}
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">{{field.label}}</span>
        {{field}}  
      </div>
      {% endfor %}
      
      <br>
      <input type="submit" value="public" class="btn btn-outline-primary">
    </form>
<br><br>
    <form action="{% url 'add_category' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="add a category" name="new_category">
        <input type="submit" value="add category" class="btn btn-outline-primary">
    </form>
    <br>
      
{% endblock %}