{% extends "auctions/layout.html" %}

{% block body %}
    <h2>watchlist:</h2>
    <div class="container text-center" style="color:black;">
        <div class="row">

    {% for active in actives %}
        <div class="col border border-primary" style="color:black;">
            <a href={% url 'active' active.actives.id%}>
                <h4>{{ active.actives.title }}</h4>
                <img style="max-width:100%;max-height: 200px;" src="{{ active.actives.image }}" >
                <p>description :{{ active.actives.description }}</p>
                <p>base price:{{ active.actives.base_price }}$</p>
                <p>porpose price:{{ active.actives.porpose_price}}$</p>
            </a>
        </div>
            {% empty %}
            <h3>no active list</h3>
    {% endfor %}

        </div>
    </div>
{% endblock %}