textarea {
    min-height: 400px;
}
.email
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 10px;
}
.read
{
    background-color: rgb(235, 235, 235);
}
.email-button
{
    background-color: none;
    border: none;
    text-decoration: none;
}